---
layout: article
title: "Calendar"
show_title: false
full_width: false
full_header_width: true
---
<div class="calendar-page grid-container">
      <h2 class="page-section-title">Event Calendar</h2>
    <div class="grid grid--p-3">
        {% for event in site.events %}
                <div class="cell cell--12">
                    <article class="card list-card list-card--surface list-card--event">
                        <div class="list-card__media">
                            {% if event.image %}
                            <img src="{{ event.image }}" alt="{{ event.title }}">
                            {% else %}
                            <img src="images/placeholder.jpg" alt="{{ event.title }}">
                            {% endif %}
                        </div>

                        <div class="list-card__body">
                        <h2 class="list-card__title">{{ event.title }}</h2>
                        <span class="list-card__meta">{{ event.event_date | date: "%B %d, %Y"}}</span>
                        <p>{{ event.one_line_detail }}</p>
                        {% if event.show_hyperlink %}
                            <div class="list-card__actions">
                                <a class="button button--primary button--rounded button--sm" href="{{ event.url }}">Learn More</a>
                            </div>
                        {% endif %}
                        </div>
                    </article>
                </div>
        {% endfor %}
        {% if site.events.size == 0 %}
            <p>There are no upcoming events at the moment. Please check back later!</p>
        {% endif %}
    </div>
</div>